/* Import CSS Variables first - needed by all other files */
@import './variables.css';

/* Import utility classes */
@import './buttons.css';

/* Import all CSS files */
@import url('/css/base.css');
@import url('/css/header.css');
@import url('/css/easy-mode-layout.css');
@import url('/css/expert-mode.css');
/* @import url('/css/context-menu.css'); - Disabled: Vue component has its own styles */
@import url('/css/jobs.css');
@import url('/css/modals.css');
